#logo{
    height: 67px;
    width: 93px;
    animation: 6s ease-in-out infinite e;
}

.row{
    width: 600px;
}

.animate-floating {
    animation: 6s ease-in-out infinite e;
    transform-origin: bottom;
}